.app-header {
    background-color: var(background-color);
    // background-color: $header;
    padding: 10px;

    .welcome-msg {
        position: relative;
        top: 9px;
        gap: 10px;

    }

    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        padding-left: 100px;
        color: $text;

    }

    .user-info .btn-link {
        color: $bad;
    }

    nav {
        font-size: 1.2em;
        background-color: var(background-color);

        // background-color: $header-bg;
        // padding: 5px;
        // margin-bottom: 20px;

    }

    // nav a:first-child {
    // margin-right: 30px;
    // }

    nav a {
        font-size: 14px;
        border-top: 1px solid $navbar;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $navbar;
    }

    .user-msg {
        color: white;
        padding: 10px;
        font-size: 1.4em;
        position: fixed;
        top: 0;
        right: 0;
        background-color: grey;
    }

    .user-msg button {
        float: right;
        border: 0;
        border-radius: 50%;
        margin: 5px;
    }

    .lang-option {
        cursor: pointer;
        padding: 5px;
        margin: 10px;

        option {
            cursor: pointer;
        }
    }
}