.app-footer {
   p {
      padding: unset;
      margin: unset;
      font-size: 18px;
   }

   display: flex;
   justify-content: center;
   align-content: center;
   background-color: $navigation-bg;
   color: $navbar;
   padding: 14px;
   position: fixed;
   margin-top: 15px;
   min-width: 100%;
   bottom: 0;
   text-align: center;
}