button {
    border: 0;
    background-color: lightblue;
    color: black;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        color:white;
    }
    &.bad{
        background-color: $bad;        
    }
    &.good{
        background-color: $good;
    }
    &.save{
        align-self: flex-end;
        max-height: 24.5px;
    }
}

form>* {
    display: block;
    width: 200px;
    margin: 10px 0px;
}

.btn-link {
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    transition: .5s;
}

.btn-link:hover {
    background-color: $header;
    transform: scale(1.1);
}