.login-signup{

   text-align: center;
   background: url(../../img/hero.jpg) top;
   background-size: 100% 100%;
   // width: 100%;
   height: 100vh;
   margin: 0;
   padding: 32px;

   form{
      background: var(--color-white);
      padding: var(--card-padding);
      border-radius: var(--card-border-radius);
      margin-top: 1rem;
      box-shadow: var(--box-shadow);
      transition: all 300ms ease;
      gap: 10px;
      width: 400px;
      align-items: center;

      &:hover {
         box-shadow: none;
         transition: all 300ms ease;
      }
   }

   input{
      height: 40px;
      border-radius: 10px;
      border: 1px solid gray;
      width: 80%;
      padding: 10px;
   }

}